#APP
PORT=3000
NODE_ENV=development
HASH_SALT=10

#JWT
JWT_ACCESS_TOKEN=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_TOKEN=
JWT_REFRESH_EXPIRES_IN=

# POSTGRESQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_db
# Автоматическая синхронизация схемы БД. В продакшне обязательно false.
POSTGRES_SYNCHRONIZE=true # true или false

#WEBSOCKET
WS_NOTIFICATIONS_PORT=4000

#Пример для PostMan для регистрации пользователя (http://localhost:3000/auth/register)
# {
#   "email": "user@example.com",
#   "password": "Password123",
#   "name": "john_doe",
#   "birthdate": "1990-01-01",
#   "gender": "male",
#   "city": "Москва",
#   "about": "Обучаю английскому языку с нуля"
# }

FRONTEND_URL=http://localhost:3000